<footer id="contactC">
    <div class="footerBox">
        <div class="footerHeaderContainer">
            <h1 class="footerHeaderText">
                CONTATOS
            </h1>
            <img class="contactIcon" src="img/contact.svg" alt="computer">
        </div>

    <div class="footerText">
         <h2>Me envie uma mensagem, estou disponível!</h2>
        <p><a id="whatsappLink" href="https://api.whatsapp.com/send?phone=5521997674932" target="_blank">Whatsapp: (21) 997674932</a></p>
        <p>Telegram: (21) 997674932</p>
        <p>Email: leoferreiracontatos@gmail.com</p>
        <div class="creditContainer">
            <p id="credits">© 2021 - Todos os direitos reservado a <b>Leonardo Ferreira</b></p>
            <p>Direito de ícones reservados a <a id="freepikLink" target="_blank" href="https://www.flaticon.com/br/">Freepik</a></p>
        </div>

    </div>

    </div>


</footer>


<div class="space"></div>