<nav class="navContainer" id="navC">
    
    <svg id="fi_4416436" class="svgIcon" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512"
        width="512" xmlns="http://www.w3.org/2000/svg">
        <g>
            <g>
                <g>
                    <g>
                        <g>
                            <path d="m7.5 38.5h497v435h-497z" fill="#fff6cc">

                            </path>
                            <path d="m464.5 38.5h40v435h-40z" fill="#fff1b5"></path>
                            <path d="m7.5 38.5h497v57.167h-497z" fill="#7b7b7f"></path>
                            <path d="m464.5 38.5h40v57.167h-40z" fill="#6b6b73"></path>
                        </g>
                        <g>
                            <path d="m58.887 208.504h121.754v212.496h-121.754z" fill="#ff7de9"></path>
                            <path d="m140.641 208.504h40v212.496h-40z" fill="#ff5ee4"></path>
                            <g>
                                <circle cx="119.764" cy="205.627" fill="#fff" r="60.877"></circle>
                                <g>
                                    <path
                                        d="m119.764 266.504c17.593 0 33.442-7.463 44.556-19.395-5.352-19.586-23.273-33.982-44.556-33.982s-39.204 14.396-44.556 33.982c11.113 11.932 26.963 19.395 44.556 19.395z"
                                        fill="#fd0"></path>
                                </g>
                                <circle cx="119.764" cy="201.627" fill="#fd0" r="21"></circle>
                            </g>
                        </g>
                        <path d="m220.313 175.146h228.783v133.877h-228.783z" fill="#c4f1ff"></path>
                        <path d="m220.313 345.815h228.783v75.185h-228.783z" fill="#00cfe9"></path>
                    </g>
                </g>
            </g>
            <g>
                <path d="m41.922 74.583c9.992 0 10.008-15 0-15-9.992 0-10.008 15 0 15z"></path>
                <path d="m68.755 74.583c9.992 0 10.008-15 0-15-9.992 0-10.008 15 0 15z"></path>
                <path d="m95.589 74.583c9.992 0 10.008-15 0-15-9.992 0-10.009 15 0 15z"></path>
                <path
                    d="m504.5 31h-497c-4.142 0-7.5 3.358-7.5 7.5v435c0 4.142 3.358 7.5 7.5 7.5h497c4.142 0 7.5-3.358 7.5-7.5v-435c0-4.142-3.358-7.5-7.5-7.5zm-489.5 435v-362.833h124.727c9.385 0 9.813-15 0-15h-124.727v-42.167h482v42.167h-317.323c-9.385 0-9.813 15 0 15h317.323v362.833z">
                </path>
                <path
                    d="m119.764 137.25c-37.703 0-68.377 30.674-68.377 68.377v215.373c0 4.142 3.358 7.5 7.5 7.5h121.754c4.142 0 7.5-3.358 7.5-7.5 0-71.79 0-143.584 0-215.373 0-37.703-30.674-68.377-68.377-68.377zm0 15c40.585-.396 66.786 45.129 46.316 79.888-4.791-8.161-11.681-14.949-19.979-19.621 7.904-18.241-6.38-39.709-26.337-39.39-19.952-.321-34.243 21.15-26.337 39.388-8.302 4.669-15.19 11.453-19.98 19.619-20.473-34.766 5.746-80.283 46.317-79.884zm-13.5 49.377c0-7.444 6.056-13.5 13.5-13.5 17.91.742 17.904 26.261 0 27-6.992 0-13.5-6.592-13.5-13.5zm-3.452 22.897c9.878 7.333 24.014 7.339 33.902 0 8.672 4.225 15.464 11.55 19.017 20.508-20.092 18.356-51.841 18.359-71.937 0 3.555-8.969 10.343-16.285 19.018-20.508zm70.329 188.976h-106.754v-165.183c26.587 33.977 80.171 33.965 106.754 0z">
                </path>
                <path d="m143.234 301.822h-46.941c-9.385 0-9.813 15 0 15h46.941c9.386 0 9.813-15 0-15z"></path>
                <path d="m143.234 333.149h-46.941c-9.385 0-9.813 15 0 15h46.941c9.386 0 9.813-15 0-15z"></path>
                <path d="m123.234 364.477h-26.941c-9.385 0-9.813 15 0 15h26.941c9.386 0 9.813-15 0-15z"></path>
                <path
                    d="m449.096 167.646h-228.783c-4.142 0-7.5 3.358-7.5 7.5v133.877c0 4.142 3.358 7.5 7.5 7.5h228.783c4.142 0 7.5-3.358 7.5-7.5v-133.877c0-4.142-3.358-7.5-7.5-7.5zm-7.5 133.877h-213.783v-118.877h213.783z">
                </path>
                <path
                    d="m449.096 338.315h-152.761c-9.385 0-9.813 15 0 15h145.261v60.185h-213.783v-60.185h28.533c9.385 0 9.813-15 0-15h-36.033c-4.142 0-7.5 3.358-7.5 7.5v75.185c0 4.142 3.358 7.5 7.5 7.5h228.783c4.142 0 7.5-3.358 7.5-7.5v-75.185c0-4.142-3.358-7.5-7.5-7.5z">
                </path>
                <path d="m449.096 137.25h-41.593c-9.385 0-9.813 15 0 15h41.593c9.386 0 9.813-15 0-15z"></path>
                <path
                    d="m245.5 383.333c0 4.142 3.358 7.5 7.5 7.5h109.333c9.385 0 9.813-15 0-15h-109.333c-4.142 0-7.5 3.358-7.5 7.5z">
                </path>
                <path d="m253 218.273h109.333c9.385 0 9.813-15 0-15h-109.333c-9.385 0-9.813 15 0 15z"></path>
                <path d="m253 280.896h109.333c9.385 0 9.813-15 0-15h-109.333c-9.385 0-9.813 15 0 15z"></path>
                <path d="m253 249.584h154.503c9.385 0 9.813-15 0-15h-154.503c-9.385 0-9.813 15 0 15z">

                </path>
            </g>
        </g>
    </svg>

    <b class="headerText">PORTFOLIO | Leonardo Ferreira</b>

    <div class="separator"></div>

    <a class="navLinks" href="/">Inicio</a>
    <a class="navLinks" href="#aboutC">Sobre mim</a>
    <a class="navLinks" href="#projectC">Projetos</a>
    <a class="navLinks" href="#contactC">Contatos</a>
</nav>