<nav class="navContainer" id="navC">
    <img class="svgIcon" src="img/web.svg" alt="Web">
    <b class="headerText">PORTFOLIO | Leonardo Ferreira</b>

    <div class="separator"></div>

    <a class="navLinks" href="/">Inicio</a>
    <a class="navLinks" href="#aboutC">Sobre</a>
    <a class="navLinks" href="#projectC">Projetos</a>
    <a class="navLinks" href="#contactC">Contatos</a>
    <button id="btn" type="button">Alterar Tema</button>
</nav>