<div class="container">
    <div class="cardContainer">
        <div class="avatarContainer">
            <img class="avatar" src="https://avatars.githubusercontent.com/u/66839023?v=4" alt="Leonardo Ferreira">
            <h2 class="avatarText">Leonardo Ferreira</h2>
        </div>



        <div class="textContainer">
            <svg id="fi_4433414" class="avatarMedal" enable-background="new 0 0 512 512" height="512"
                viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg">
                <g>
                    <g>
                        <g>
                            <path d="m7.5 7.501 181.775 168.638h.159l33.14-30.739-148.67-137.899z" fill="#f683ae">
                            </path>
                            <path
                                d="m371.244 7.501-115.244 106.894-115.244-106.894h-66.852l148.67 137.899h66.853l148.67-137.899z"
                                fill="#ffd4e6"></path>
                            <path d="m438.097 7.501-148.67 137.899 33.14 30.739h.159l181.774-168.638z" fill="#f683ae">
                            </path>
                        </g>
                        <g>
                            <g>
                                <g>
                                    <g>
                                        <g>
                                            <path
                                                d="m277.777 171.565h-43.553v-63.264c0-12.026 9.749-21.775 21.775-21.775h.003c12.026 0 21.775 9.749 21.775 21.775z"
                                                fill="#ffc72e"></path>
                                            <path
                                                d="m277.777 171.565h-43.553v-63.264c0-12.026 9.749-21.775 21.775-21.775h.003c12.026 0 21.775 9.749 21.775 21.775z"
                                                fill="#ffa621"></path>
                                            <g>
                                                <ellipse cx="256" cy="320.817" fill="#ffc72e" rx="183.614" ry="183.683">
                                                </ellipse>
                                                <ellipse cx="256" cy="320.817" fill="#ffffbf" rx="145.395" ry="145.465">
                                                </ellipse>
                                                <path
                                                    d="m256 175.353c-6.785 0-13.46.478-20 1.382 70.741 9.781 125.395 70.661 125.395 144.082s-54.654 134.301-125.395 144.082c6.54.904 13.215 1.383 20 1.383 80.171 0 145.395-65.255 145.395-145.465s-65.224-145.464-145.395-145.464z"
                                                    fill="#fff68f"></path>
                                                <path
                                                    d="m264.33 402.863c-8.634 0-15.659-6.875-15.659-15.325v-119.024h-13.672c-8.634 0-15.659-6.875-15.659-15.325s7.025-15.325 15.659-15.325h29.331c8.634 0 15.659 6.875 15.659 15.325v134.349c0 8.45-7.024 15.325-15.659 15.325z"
                                                    fill="#ffc72e"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                    <g>
                        <path
                            d="m509.998 2.399c-2.816-3.036-7.562-3.214-10.599-.397l-158.855 147.376c-9.958-4.934-20.404-9.026-31.246-12.18l133.9-124.199c3.037-2.816 3.215-7.562.398-10.599-2.815-3.037-7.561-3.216-10.599-.398l-141.223 130.991c-2.153-.41-4.319-.783-6.497-1.12v-23.572c0-3.286-.544-6.447-1.547-9.398l92.615-85.905c3.037-2.816 3.215-7.562.398-10.599-2.816-3.037-7.561-3.216-10.599-.398l-90.868 84.284c-10.525-9.606-28.029-9.605-38.552 0l-90.867-84.283c-3.037-2.817-7.783-2.638-10.599.398-2.817 3.037-2.639 7.783.398 10.599l92.615 85.905c-1.003 2.951-1.547 6.112-1.547 9.398v23.577c-2.173.336-4.337.709-6.492 1.119l-141.228-130.996c-3.037-2.817-7.783-2.638-10.599.398-2.817 3.037-2.639 7.783.398 10.599l133.904 124.203c-10.756 3.127-21.21 7.2-31.252 12.174l-158.854-147.374c-3.037-2.818-7.782-2.639-10.599.397-2.817 3.037-2.64 7.782.397 10.599l155.193 143.978c-11.373 6.864-22.098 14.956-31.988 24.205-3.025 2.829-3.185 7.575-.355 10.601 2.829 3.025 7.575 3.185 10.601.355 111.307-105.107 295.824-23.126 296.263 128.682.001 97.146-79.003 176.182-176.113 176.182-140.211 1.198-225.712-161.41-145.013-276.031 2.351-3.408 1.495-8.079-1.914-10.432s-8.08-1.497-10.433 1.912c-22.082 31.994-33.754 69.466-33.754 108.367 0 105.419 85.734 191.183 191.114 191.183 194.381-1.968 262.176-255.407 98.407-355.023l155.194-143.978c3.037-2.817 3.215-7.563.397-10.6zm-268.274 127.766v-21.863c.786-18.941 27.773-18.929 28.553 0v21.861c-9.421-.704-19.114-.706-28.553.002z">
                        </path>
                        <path
                            d="m361.604 431.336c99.361-94.168 31.219-263.747-105.606-263.483-84.305-.001-152.893 68.619-152.893 152.964-.983 114.14 124.699 189.617 224.805 134.958 8.591-4.991 1.831-17.606-7.08-13.225-90.268 49.282-203.628-18.806-202.724-121.735 7.57-183.013 268.233-182.99 275.789.002 0 37.957-15.151 73.358-42.661 99.68-6.94 7.082 2.961 17.466 10.37 10.839z">
                        </path>
                        <path
                            d="m264.33 410.363c12.77 0 23.159-10.24 23.159-22.826v-134.348c0-12.586-10.389-22.826-23.159-22.826h-29.332c-30.733 1.262-30.71 44.401 0 45.651h6.172v111.523c.001 12.587 10.39 22.826 23.16 22.826zm-29.331-149.349c-10.814-.399-10.806-15.255 0-15.651h29.332c4.499 0 8.159 3.511 8.159 7.826v134.349c-.406 10.368-15.916 10.36-16.318 0v-119.024c0-4.142-3.358-7.5-7.5-7.5z">
                        </path>
                        <path d="m150.895 313.1c-9.652 0-9.668 15 0 15 9.652 0 9.668-15 0-15z"></path>
                        <path d="m164.868 380.682c9.652 0 9.668-15 0-15-9.651 0-9.667 15 0 15z"></path>
                        <path d="m346.915 381.057c9.652 0 9.668-15 0-15-9.651 0-9.667 15 0 15z"></path>
                        <path d="m361.105 328.534c9.652 0 9.668-15 0-15-9.652 0-9.668 15 0 15z"></path>
                        <path d="m347.132 260.952c-9.652 0-9.668 15 0 15 9.652 0 9.668-15 0-15z"></path>
                        <path d="m165.085 260.577c-9.652 0-9.668 15 0 15 9.652 0 9.668-15 0-15z"></path>
                    </g>
                </g>
            </svg>
            <h2 class="secondAvatarText">
                Student | Road to Full-stack Developer</h2>
        </div>
        <hr>
        <div class="listContainer">
            <ul>
                <li>
                   💡 20 ANOS;
                </li>
                <li>
                   💡 Procurando por qualificação/Looking for a Job;
                </li>
                <li>
                   💡 Programador JavaScript;
                </li>
                <li>
                   💡 Procurando por qualificação/Looking for a Job;
                </li>
                <li>
                   💡 Desenvolvedor WEB
                </li>
            </ul>
        </div>

        <div class="socialContainer">
            <a href="https://www.instagram.com/zinnlua/" target="_blank"><svg class="mediaIcons"viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" id="fi_1051364"><path d="m75 512h362c41.355469 0 75-33.644531 75-75v-362c0-41.355469-33.644531-75-75-75h-362c-41.355469 0-75 33.644531-75 75v362c0 41.355469 33.644531 75 75 75zm-45-437c0-24.8125 20.1875-45 45-45h362c24.8125 0 45 20.1875 45 45v362c0 24.8125-20.1875 45-45 45h-362c-24.8125 0-45-20.1875-45-45zm0 0"></path><path d="m256 391c74.4375 0 135-60.5625 135-135s-60.5625-135-135-135-135 60.5625-135 135 60.5625 135 135 135zm0-240c57.898438 0 105 47.101562 105 105s-47.101562 105-105 105-105-47.101562-105-105 47.101562-105 105-105zm0 0"></path><path d="m406 151c24.8125 0 45-20.1875 45-45s-20.1875-45-45-45-45 20.1875-45 45 20.1875 45 45 45zm0-60c8.269531 0 15 6.730469 15 15s-6.730469 15-15 15-15-6.730469-15-15 6.730469-15 15-15zm0 0"></path></svg></a>
            <a href="https://www.facebook.com/ZinnLeo/" target="_blank"><svg class="mediaIcons" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" id="fi_1051360"><path d="m75 512h167v-182h-60v-60h60v-75c0-41.355469 33.644531-75 75-75h75v60h-60c-16.542969 0-30 13.457031-30 30v60h87.292969l-10 60h-77.292969v182h135c41.355469 0 75-33.644531 75-75v-362c0-41.355469-33.644531-75-75-75h-362c-41.355469 0-75 33.644531-75 75v362c0 41.355469 33.644531 75 75 75zm-45-437c0-24.8125 20.1875-45 45-45h362c24.8125 0 45 20.1875 45 45v362c0 24.8125-20.1875 45-45 45h-105v-122h72.707031l20-120h-92.707031v-30h90v-120h-105c-57.898438 0-105 47.101562-105 105v45h-60v120h60v122h-137c-24.8125 0-45-20.1875-45-45zm0 0"></path></svg></a>
            <a href="https://www.linkedin.com/in/leonardo-ferreira-253a60173/" target="_blank"><svg class="mediaIcons" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" id="fi_1051384"><path d="m437 0h-362c-41.355469 0-75 33.644531-75 75v362c0 41.355469 33.644531 75 75 75h362c41.355469 0 75-33.644531 75-75v-362c0-41.355469-33.644531-75-75-75zm45 437c0 24.8125-20.1875 45-45 45h-362c-24.8125 0-45-20.1875-45-45v-362c0-24.8125 20.1875-45 45-45h362c24.8125 0 45 20.1875 45 45zm0 0"></path><path d="m91 422h90v-212h-90zm30-182h30v152h-30zm0 0"></path><path d="m331.085938 210c-.027344 0-.058594 0-.085938 0-10.371094 0-20.472656 1.734375-30 5.101562v-5.101562h-90v212h90v-107c0-8.269531 6.730469-15 15-15s15 6.730469 15 15v107h90v-117.3125c0-48.546875-39.382812-94.640625-89.914062-94.6875zm59.914062 182h-30v-77c0-24.8125-20.1875-45-45-45s-44.996094 20.1875-45 44.996094v77.003906h-30v-152h30v30.019531l24.007812-18.03125c10.441407-7.84375 22.886719-11.988281 35.992188-11.988281h.058594c31.929687.03125 59.941406 30.257812 59.941406 64.6875zm0 0"></path><path d="m91 180h90v-90h-90zm30-60h30v30h-30zm0 0"></path></svg></a>
            <a href="https://github.com/Leoff00" target="_blank"><svg class="mediaIcons" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" id="fi_1051377"><path d="m256 0c-140.699219 0-256 116.300781-256 257 0 139.882812 114.25 255 256 255 141.574219 0 256-114.945312 256-255 0-140.699219-115.300781-257-256-257zm45 477.5c-14.398438 3-29.699219 4.5-45 4.5s-30.601562-1.5-45-4.5v-70.199219c0-16.800781 4.5-22.800781 10.5-30.902343 3.054688-3.492188 4.898438-6.625 18.597656-27.296876l-23.097656-3.601562c-59.402344-8.699219-82.800781-39.601562-92.101562-63.601562-12-32.097657-5.699219-72.300782 15.902343-97.796876 3.300781-3.902343 6-10.503906 3.601563-17.402343-4.503906-13.800781-3.902344-35.699219-.902344-44.101563 15.90625 2.273438 32.261719 13.667969 45.902344 21.902344 6.285156 3.667969 9.582031 2.699219 12.597656 3 10.960938-2.28125 28.058594-7.800781 54.300781-7.800781 16.199219 0 33.300781 2.398437 50.101563 7.199219 3.003906-.070313 7.832031 2.484374 16.199218-2.398438 14.257813-8.6875 30.058594-19.691406 45.898438-21.902344 3 8.402344 3.601562 30.300782-.898438 44.101563-2.402343 6.898437.296876 13.5 3.601563 17.402343 21.597656 25.5 27.898437 65.699219 15.898437 97.796876-9.300781 24-32.699218 54.902343-92.101562 63.601562l-23.097656 3.601562c14.160156 21.367188 15.652344 23.929688 18.601562 27.296876 5.996094 8.101562 10.496094 14.101562 10.496094 30.902343zm30-8.699219v-61.5c0-17.101562-3.601562-28.5-8.402344-36.902343 45.601563-12.296876 78.003906-39.300782 92.402344-78 15.300781-40.796876 8.402344-89.398438-17.101562-123 4.503906-20.097657 4.503906-52.199219-6.296876-67.199219-4.800781-6.597657-11.402343-10.199219-19.800781-10.199219-.300781 0-.300781 0-.300781 0-23.261719 1.257812-41.570312 12.972656-61.199219 24.898438-18-4.800782-36.300781-7.199219-54.601562-7.199219-18.597657 0-37.199219 2.699219-53.695313 7.199219-20.664062-12.460938-38.796875-23.671876-62.703125-24.898438-7.5 0-14.101562 3.601562-18.902343 10.199219-10.796876 15-10.796876 47.101562-6.296876 67.199219-25.503906 33.601562-32.402343 82.5-17.101562 123 14.398438 38.699218 46.800781 65.703124 92.402344 78-3.722656 6.511718-6.667969 14.914062-7.828125 26.285156-9.210938 3.175781-17.199219 4.210937-24.628907 2.027344-7.835937-2.316407-13.941406-7.546876-19.246093-16.46875-11.914063-20.015626-32.207031-36.355469-55.3125-34.230469l2.636719 29.882812c10.699218-.980469 21.347656 10.339844 26.878906 19.671875 9.125 15.367188 21.417968 25.445313 36.546875 29.914063 11.230469 3.308593 21.496093 3.230469 32.550781.871093v40.449219c-87.300781-30.601562-151-114-151-211.800781 0-124.199219 101.800781-227 226-227s226 102.800781 226 227c0 97.800781-63.699219 181.199219-151 211.800781zm0 0"></path></svg></a>
        </div>

    </div>

    <div class="aboutContainer" id="aboutC">
        
        <div class="aboutHeaderContainer">
            <h1 class="aboutHeaderText">
            SOBRE</h1>
        <svg class="peopleIcon"id="fi_4150773" enable-background="new 0 0 512.129 512.129" height="512" viewBox="0 0 512.129 512.129" width="512" xmlns="http://www.w3.org/2000/svg"><g><g><path d="m504.632 24.478v36.324c0 9.328-7.562 16.889-16.889 16.889h-119.963c-4.348 0-8.554 1.546-11.866 4.362l-49.617 42.174c-3.54 3.009-8.981.493-8.981-4.153v-36.933c0-3.01-2.44-5.451-5.451-5.451h-10.922c-9.328 0-16.889-7.562-16.889-16.889v-36.323c0-9.328 7.562-16.889 16.889-16.889h206.799c9.328-.001 16.89 7.561 16.89 16.889z" fill="#fece85"></path></g><g><path d="m347.782 77.69h19.995c-4.349 0-8.548 1.549-11.867 4.359l-49.617 42.179c-3.539 3.009-8.978.49-8.978-4.159v-5.209l38.6-32.812c3.319-2.809 7.518-4.358 11.867-4.358z" fill="#fec165"></path></g><g><path d="m504.632 24.473v36.331c0 9.328-7.558 16.886-16.886 16.886h-19.995c9.328 0 16.886-7.558 16.886-16.886v-36.331c0-9.328-7.558-16.886-16.886-16.886h19.995c9.328 0 16.886 7.559 16.886 16.886z" fill="#fec165"></path></g><g><path d="m234.882 504.541h-195.079v-26.368c0-53.869 43.67-97.539 97.539-97.539 53.869 0 97.539 43.67 97.539 97.539v26.368z" fill="#99e6fc"></path></g><g><path d="m234.88 478.169v26.373h-19.995v-26.373c0-26.933-10.917-51.317-28.563-68.963-15.446-15.446-36.031-25.733-58.975-28.073 3.289-.33 6.618-.5 9.997-.5 26.933 0 51.317 10.917 68.973 28.573 17.646 17.646 28.563 42.029 28.563 68.963z" fill="#62dbfb"></path></g><g><path d="m137.343 410.475c-12.941 0-23.432-10.491-23.432-23.432v-54.01h46.864v54.01c0 12.941-10.491 23.432-23.432 23.432z" fill="#fed2a4"></path></g><g><path d="m160.772 333.034v54.018c0 12.937-10.495 23.432-23.432 23.432-4.256 0-8.274-1.136-11.716-3.154 7.002-4.035 11.716-11.614 11.716-20.278v-54.018z" fill="#ffbd86"></path></g><g><path d="m137.348 359.662c-50.695 0-91.792-41.097-91.792-91.792v-74.851h91.792 91.792v74.851c0 50.695-41.097 91.792-91.792 91.792z" fill="#fed2a4"></path></g><g><path d="m229.142 193.021v74.851c0 50.697-41.1 91.787-91.797 91.787-3.379 0-6.718-.18-9.997-.54 45.998-4.979 81.799-43.929 81.799-91.247v-74.851z" fill="#ffbd86"></path></g><g><g><path d="m245.845 166.604c-2.594-3.648-3.308-8.279-2.234-12.624 2.283-9.239 3.288-19.026 3.587-28.719.267-8.639-.334-17.34-1.718-25.908-1.495-9.253-10.443-15.377-19.611-13.428-6.104 1.297-11.866 2.427-12.752 2.602-26.999 5.336-52.739 5.919-80.091 7.775-24.894 1.689-49.873 5.386-72.397 16.725-16.122 8.116-26.185 23.837-26.292 40.937v.053c-.02 3.495-1.15 6.911-3.304 9.663-10.799 13.796-16.855 30.951-16.855 48.858v36.854h31.214v-49.464c.019-5.713 6.428-9.09 11.311-6.123.043.026.085.052.128.078 13.131 7.912 29.474 10.97 44.961 12.696 21.395 2.385 44.247 2.513 65.731.784 10.459-.842 20.966-2.296 31.029-5.35 4.936-1.498 9.775-3.358 14.351-5.763 1.718-.905 3.353-1.872 4.909-2.896 4.854-3.196 11.474.192 11.494 6.004v50.035h31.214v-36.854c-.001-16.663-5.245-32.675-14.675-45.935z" fill="#596c76"></path></g><g><path d="m260.524 212.536v36.861h-19.995v-36.861c0-16.656-5.249-32.672-14.676-45.928-2.599-3.649-3.309-8.278-2.239-12.627 2.289-9.238 3.289-19.025 3.589-28.723.27-8.638-.33-17.335-1.72-25.903-.83-5.139-3.949-9.308-8.138-11.667 2.339-.48 5.389-1.1 8.528-1.76 9.168-1.949 18.115 4.169 19.605 13.427 1.39 8.568 1.99 17.266 1.72 25.903-.3 9.697-1.3 19.485-3.589 28.723-1.07 4.349-.36 8.978 2.239 12.627 9.427 13.256 14.676 29.272 14.676 45.928z" fill="#465a61"></path></g></g><g><path d="m45.721 267.368h-12.103c-14.426 0-26.12-11.694-26.12-26.12 0-14.426 11.694-26.12 26.12-26.12h12.103z" fill="#fed2a4"></path></g><g><path d="m229.14 267.368h12.103c14.426 0 26.12-11.694 26.12-26.12 0-14.426-11.694-26.12-26.12-26.12h-12.103z" fill="#fed2a4"></path></g><g><path d="m487.742.09h-206.799c-13.447 0-24.387 10.941-24.387 24.387v36.324c0 13.447 10.941 24.387 24.387 24.387h8.876v34.885c0 5.106 2.879 9.61 7.514 11.753 1.766.817 3.627 1.217 5.471 1.217 2.994 0 5.941-1.057 8.349-3.104l49.617-42.175c1.954-1.662 4.444-2.576 7.01-2.576h39.446c4.141 0 7.498-3.357 7.498-7.498s-3.357-7.498-7.498-7.498h-39.446c-6.12 0-12.059 2.183-16.722 6.146l-46.243 39.307v-32.503c0-7.14-5.809-12.949-12.949-12.949h-10.923c-5.178 0-9.391-4.213-9.391-9.391v-36.324c0-5.178 4.213-9.391 9.391-9.391h206.799c5.178 0 9.391 4.213 9.391 9.391v36.324c0 5.178-4.213 9.391-9.391 9.391h-45.426c-4.141 0-7.498 3.357-7.498 7.498s3.357 7.498 7.498 7.498h45.426c13.447 0 24.387-10.941 24.387-24.387v-36.324c0-13.447-10.94-24.388-24.387-24.388z"></path><path d="m268.017 212.539c0-18.117-5.554-35.504-16.061-50.28-1.258-1.768-1.646-4.13-1.066-6.48 2.206-8.924 3.449-18.831 3.803-30.285.278-8.985-.332-18.182-1.811-27.336-1.053-6.519-4.636-12.167-10.088-15.902-5.455-3.736-12.02-5.04-18.484-3.664-2.618.557-6.906 1.45-12.469 2.545l-.177.035c-21.069 4.164-41.317 5.363-62.753 6.632-5.339.315-10.86.642-16.392 1.018-20.628 1.399-36.196 3.846-50.477 7.932-3.981 1.139-6.286 5.291-5.147 9.272 1.14 3.981 5.293 6.286 9.272 5.146 13.226-3.784 27.835-6.063 47.368-7.389 5.468-.371 10.956-.695 16.263-1.01 21.961-1.3 42.704-2.528 64.772-6.89l.17-.033c5.654-1.114 10.021-2.024 12.689-2.591 2.412-.51 4.857-.026 6.891 1.368 2.032 1.392 3.367 3.495 3.759 5.922 1.327 8.213 1.874 16.449 1.626 24.481-.32 10.384-1.423 19.266-3.372 27.151-1.629 6.595-.389 13.436 3.403 18.768 8.15 11.462 12.697 24.82 13.233 38.794-3.653-1.364-7.602-2.113-11.725-2.113h-4.577l-.027-8.297c-.018-5.422-2.991-10.38-7.76-12.939-4.802-2.579-10.624-2.312-15.191.696-1.367.9-2.807 1.75-4.274 2.522-3.837 2.017-8.103 3.727-13.041 5.225-8.202 2.49-17.56 4.096-29.452 5.052-21.834 1.755-44.069 1.493-64.3-.763-12.888-1.436-29.3-4.06-41.921-11.666-.019-.011-.086-.052-.104-.063-4.623-2.809-10.434-2.909-15.163-.259-4.704 2.635-7.523 7.407-7.54 12.79v7.701h-4.275c-4.183 0-8.187.774-11.885 2.177.581-15.007 5.924-29.651 15.203-41.505 3.129-3.998 4.868-9.056 4.898-14.291.072-11.5 5.555-22.354 15.044-29.779 3.261-2.552 3.836-7.265 1.284-10.526-2.553-3.262-7.266-3.835-10.526-1.284-13.116 10.264-20.696 25.388-20.798 41.552-.01 1.883-.618 3.689-1.71 5.084-11.897 15.198-18.449 34.192-18.449 53.48v8.621c-4.194 5.61-6.68 12.565-6.68 20.09 0 18.537 15.081 33.618 33.618 33.618h4.69c2.86 40.884 30.581 75.02 68.105 87.355v15.587c-42.865 13.238-74.107 53.211-74.107 100.365v26.367c0 4.141 3.357 7.498 7.498 7.498h195.079c4.141 0 7.498-3.357 7.498-7.498v-26.367c0-47.153-31.243-87.124-74.107-100.362v-15.587c37.529-12.332 65.254-46.471 68.115-87.359h4.855c18.537 0 33.618-15.081 33.618-33.618 0-7.621-2.553-14.655-6.844-20.3v-8.408zm-229.959 47.331h-4.44c-10.268 0-18.622-8.354-18.622-18.622s8.354-18.621 18.622-18.621h4.44zm189.326 218.304v18.869h-180.082v-18.869c0-39.031 24.97-72.324 59.768-84.787 2.935 14.022 15.393 24.586 30.273 24.586 14.879 0 27.335-10.562 30.272-24.581 34.797 12.463 59.769 45.751 59.769 84.782zm-105.975-91.131v-21.169c5.191.841 10.514 1.285 15.939 1.285 5.422 0 10.741-.443 15.929-1.284v21.167c0 8.786-7.148 15.933-15.934 15.933-8.786.002-15.934-7.146-15.934-15.932zm100.233-119.174c0 46.479-37.814 84.294-84.294 84.294-46.165 0-83.952-37.309-84.459-83.357.091-.466 0-68.545 0-68.545l.071.043c15.115 9.109 33.592 12.12 48 13.726 21.166 2.36 44.391 2.639 67.164.806 12.989-1.045 23.35-2.84 32.606-5.65 5.854-1.778 10.977-3.839 15.665-6.303 1.395-.734 2.759-1.535 4.102-2.369h1.145zm19.601-7.999h-4.605v-37.244h4.605c10.268 0 18.622 8.353 18.622 18.621 0 10.269-8.354 18.623-18.622 18.623z"></path><path d="m99.936 239.452c-4.141 0-7.498 3.357-7.498 7.498v16.514c0 4.142 3.357 7.498 7.498 7.498s7.498-3.357 7.498-7.498v-16.514c0-4.142-3.357-7.498-7.498-7.498z"></path><path d="m174.761 239.452c-4.141 0-7.498 3.357-7.498 7.498v16.514c0 4.142 3.357 7.498 7.498 7.498s7.498-3.357 7.498-7.498v-16.514c0-4.142-3.357-7.498-7.498-7.498z"></path></g></g></svg>
        
        </div>
    <div>
        
        <h2 class="aboutName">
            Leonardo Ferreira
        </h2>
    
    <div class="explainContainer">

    <p>
        Programador há 3 anos em busca de mais conhecimento e ingressar
        no mercado.
    </p>
        Teve ingresso na faculdade de Sistema de Informação em 2018,
        desde então busca grandes qualificações e referências do
        mercado para ser contratado e iniciar sua carreira.
    <p>
        Seu primeiro contato com programação foi em um curso de
        processamento de dados onde aprendeu sobre 
        lógica de programação e teve o primeiro contato apenas com
        <b> HTML e Delphi </b> fazendo pequenos programas em 2015.
    </p>
    
    <p>
        Já participou do <b> Hackathon BNDES 2020 </b> onde junto com uma 
        equipe desenvolveram um blog de notícias e aprendeu sobre 
        técnicas de desenvolvimento e padrão de projeto.
    </p>

    </div>

    {{!-- <b class="contactNumber">
        📞 👉 Número para contato: 997674932 - Whatsapp / Telegram.
    </b> --}}

    <b class="aboutSideText">NOVA IGUAÇU | RIO DE JANEIRO | BRASIL</b>

    </div>

    </div>
</div>

<div class="portfolioContainer" id="projectC">

    <div class="firstPart">

    </div>

    <div class="secondPart">
        <div class="portfolioHeaderContainer">
            <h1 class="portfolioHeaderText">
            PORTFOLIO
            </h1>
        <svg class="pcIcon" id="fi_2471930" enable-background="new 0 0 256 256" height="512" viewBox="0 0 256 256" width="512" xmlns="http://www.w3.org/2000/svg"><g><path d="m32.035 193.652c-7.535 0-13.665-6.13-13.665-13.665v-123.776c0-7.535 6.13-13.665 13.665-13.665h191.931c7.535 0 13.665 6.13 13.665 13.665v123.776c0 7.535-6.13 13.665-13.665 13.665z" fill="#63bce7"></path><path d="m229.221 167.987c0 2.891-2.365 5.256-5.256 5.256h-191.93c-2.891 0-5.256-2.365-5.256-5.256v-111.777c0-2.891 2.365-5.256 5.256-5.256h191.931c2.891 0 5.256 2.365 5.256 5.256v111.777z" fill="#f46275"></path><g><path d="m44.838 167.987v-111.777c0-2.891 2.365-5.256 5.256-5.256h-18.059c-2.891 0-5.256 2.365-5.256 5.256v111.777c0 2.891 2.365 5.256 5.256 5.256h18.059c-2.891 0-5.256-2.365-5.256-5.256z" fill="#f43075"></path></g><g><path d="m211.162 167.987v-111.777c0-2.891-2.365-5.256-5.256-5.256h18.059c2.891 0 5.256 2.365 5.256 5.256v111.777c0 2.891-2.365 5.256-5.256 5.256h-18.059c2.891 0 5.256-2.365 5.256-5.256z" fill="#f48875"></path></g><path d="m96.752 193.652h62.496v19.017h-62.496z" fill="#f8af23"></path><g><path d="m96.752 193.652h18.059v19.017h-18.059z" fill="#f87023"></path></g><g><path d="m141.19 193.652h18.059v19.017h-18.059z" fill="#f8d323"></path></g><circle cx="128" cy="183.447" fill="#f8af23" r="4.5"></circle><path d="m178.687 228.12h-101.375v-10.45c0-2.761 2.239-5 5-5h91.375c2.761 0 5 2.239 5 5z" fill="#9e9e9e"></path><g><path d="m100.371 212.669h-18.059c-2.761 0-5 2.239-5 5v10.45h18.059v-10.45c0-2.761 2.239-5 5-5z" fill="#707070"></path></g><g><path d="m155.629 212.669h18.059c2.761 0 5 2.239 5 5v10.45h-18.059v-10.45c0-2.761-2.239-5-5-5z" fill="#cecece"></path></g><g><g><path d="m51.362 64.746h153.275v19.323h-153.275z" fill="#63bce7"></path><path d="m59 70.159h69.333v8.497h-69.333z" fill="#f8af23"></path></g><g><path d="m51.362 90.496h153.275v19.323h-153.275z" fill="#63bce7"></path><path d="m59 95.909h69.333v8.497h-69.333z" fill="#f8af23"></path></g><g><path d="m51.362 116.246h153.275v19.323h-153.275z" fill="#63bce7"></path><path d="m59 121.659h69.333v8.497h-69.333z" fill="#f8af23"></path></g><g><path d="m51.362 141.996h153.275v19.323h-153.275z" fill="#63bce7"></path><path d="m59 147.409h69.333v8.497h-69.333z" fill="#f8af23"></path></g></g><g><circle cx="175.057" cy="50.202" fill="#f8af23" r="33.867"></circle><g><path d="m186.51 32.718-17.817 20.338-5.839-4.717c-2.6-2.099-6.41-1.698-8.511.893-2.104 2.586-1.705 6.385.891 8.484l14.904 12.033 25.489-29.093c2.199-2.509 1.94-6.321-.579-8.513-2.514-2.189-6.342-1.934-8.538.575z" fill="#f46275"></path><g fill="#3f3679"><path d="m32.035 195.151h63.217v16.018h-12.94c-3.584 0-6.5 2.916-6.5 6.5v8.95h-48.112c-.829 0-1.5.672-1.5 1.5s.671 1.5 1.5 1.5h49.612 101.375 49.613c.828 0 1.5-.672 1.5-1.5s-.672-1.5-1.5-1.5h-48.112v-8.95c0-3.584-2.916-6.5-6.5-6.5h-12.939v-16.018h63.218c8.361 0 15.164-6.803 15.164-15.164v-123.776c0-8.362-6.803-15.165-15.164-15.165h-14.751c-4.045-15.077-17.823-26.211-34.159-26.211s-30.113 11.134-34.159 26.211h-108.863c-8.362 0-15.165 6.803-15.165 15.165v123.776c0 8.362 6.803 15.164 15.165 15.164zm145.152 22.518v8.95h-98.375v-8.95c0-1.93 1.57-3.5 3.5-3.5h14.439 62.496 14.439c1.931 0 3.501 1.57 3.501 3.5zm-19.439-6.5h-59.496v-16.018h59.496zm66.218-158.714c2.07 0 3.755 1.685 3.755 3.755v111.777c0 2.071-1.685 3.756-3.755 3.756h-191.931c-2.071 0-3.756-1.685-3.756-3.756v-111.777c0-2.07 1.685-3.755 3.756-3.755h107.734c.24 3.789 1.08 7.416 2.424 10.791h-90.831c-.829 0-1.5.672-1.5 1.5v19.323c0 .828.671 1.5 1.5 1.5h153.275c.828 0 1.5-.672 1.5-1.5v-17.003c2.393-4.393 3.874-9.349 4.207-14.611zm-86.133 23.452h12.97c2.919 2.755 6.302 5.02 10.023 6.662h-107.964v-16.323h90.691c1.222 2.389 2.703 4.624 4.413 6.661h-10.134c-.828 0-1.5.672-1.5 1.5s.673 1.5 1.501 1.5zm51.455 6.662c5.487-2.422 10.244-6.195 13.85-10.901v10.901zm-14.231-64.734c17.848 0 32.367 14.52 32.367 32.367s-14.52 32.367-32.367 32.367-32.367-14.52-32.367-32.367 14.519-32.367 32.367-32.367zm-155.187 38.376c0-6.708 5.457-12.165 12.165-12.165h108.202c-.311 1.762-.49 3.568-.529 5.409h-107.673c-3.725 0-6.756 3.03-6.756 6.755v111.777c0 3.726 3.031 6.756 6.756 6.756h191.931c3.725 0 6.755-3.03 6.755-6.756v-111.777c0-3.725-3.03-6.755-6.755-6.755h-13.561c-.039-1.841-.218-3.647-.529-5.409h14.089c6.707 0 12.164 5.457 12.164 12.165v123.776c0 6.707-5.457 12.164-12.164 12.164h-64.718-62.495-64.717c-6.708 0-12.165-5.457-12.165-12.164z"></path><path d="m128 189.447c3.309 0 6-2.691 6-6s-2.691-6-6-6-6 2.691-6 6 2.691 6 6 6zm0-9c1.654 0 3 1.346 3 3s-1.346 3-3 3-3-1.346-3-3 1.346-3 3-3z"></path><path d="m27.7 238.165h-18.172c-.829 0-1.5.672-1.5 1.5s.671 1.5 1.5 1.5h18.172c.829 0 1.5-.672 1.5-1.5s-.671-1.5-1.5-1.5z"></path><path d="m246.472 238.165h-18.172c-.828 0-1.5.672-1.5 1.5s.672 1.5 1.5 1.5h18.172c.828 0 1.5-.672 1.5-1.5s-.672-1.5-1.5-1.5z"></path><path d="m213.788 238.165h-171.577c-.829 0-1.5.672-1.5 1.5s.671 1.5 1.5 1.5h171.577c.828 0 1.5-.672 1.5-1.5s-.672-1.5-1.5-1.5z"></path><path d="m9.528 229.619h7.803c.829 0 1.5-.672 1.5-1.5s-.671-1.5-1.5-1.5h-7.803c-.829 0-1.5.672-1.5 1.5s.671 1.5 1.5 1.5z"></path><path d="m237.169 228.119c0 .828.672 1.5 1.5 1.5h7.803c.828 0 1.5-.672 1.5-1.5s-.672-1.5-1.5-1.5h-7.803c-.828 0-1.5.672-1.5 1.5z"></path><path d="m128.333 68.659h-69.333c-.829 0-1.5.672-1.5 1.5v8.497c0 .828.671 1.5 1.5 1.5h69.333c.829 0 1.5-.672 1.5-1.5v-8.497c0-.828-.671-1.5-1.5-1.5zm-1.5 8.497h-66.333v-5.497h66.333z"></path><path d="m204.638 88.996h-153.276c-.829 0-1.5.672-1.5 1.5v19.323c0 .828.671 1.5 1.5 1.5h153.275c.828 0 1.5-.672 1.5-1.5v-19.323c.001-.828-.671-1.5-1.499-1.5zm-1.5 19.323h-150.276v-16.323h150.275v16.323z"></path><path d="m59 105.906h69.333c.829 0 1.5-.672 1.5-1.5v-8.497c0-.828-.671-1.5-1.5-1.5h-69.333c-.829 0-1.5.672-1.5 1.5v8.497c0 .828.671 1.5 1.5 1.5zm1.5-8.497h66.333v5.497h-66.333z"></path><path d="m137.833 101.657h59.167c.828 0 1.5-.672 1.5-1.5s-.672-1.5-1.5-1.5h-59.167c-.828 0-1.5.672-1.5 1.5s.672 1.5 1.5 1.5z"></path><path d="m204.638 114.746h-153.276c-.829 0-1.5.672-1.5 1.5v19.323c0 .828.671 1.5 1.5 1.5h153.275c.828 0 1.5-.672 1.5-1.5v-19.323c.001-.828-.671-1.5-1.499-1.5zm-1.5 19.323h-150.276v-16.323h150.275v16.323z"></path><path d="m59 131.656h69.333c.829 0 1.5-.672 1.5-1.5v-8.497c0-.828-.671-1.5-1.5-1.5h-69.333c-.829 0-1.5.672-1.5 1.5v8.497c0 .828.671 1.5 1.5 1.5zm1.5-8.497h66.333v5.497h-66.333z"></path><path d="m137.833 127.407h59.167c.828 0 1.5-.672 1.5-1.5s-.672-1.5-1.5-1.5h-59.167c-.828 0-1.5.672-1.5 1.5s.672 1.5 1.5 1.5z"></path><path d="m204.638 140.496h-153.276c-.829 0-1.5.672-1.5 1.5v19.323c0 .828.671 1.5 1.5 1.5h153.275c.828 0 1.5-.672 1.5-1.5v-19.323c.001-.828-.671-1.5-1.499-1.5zm-1.5 19.323h-150.276v-16.323h150.275v16.323z"></path><path d="m59 157.406h69.333c.829 0 1.5-.672 1.5-1.5v-8.497c0-.828-.671-1.5-1.5-1.5h-69.333c-.829 0-1.5.672-1.5 1.5v8.497c0 .828.671 1.5 1.5 1.5zm1.5-8.497h66.333v5.497h-66.333z"></path><path d="m137.833 153.157h59.167c.828 0 1.5-.672 1.5-1.5s-.672-1.5-1.5-1.5h-59.167c-.828 0-1.5.672-1.5 1.5s.672 1.5 1.5 1.5z"></path><path d="m151.533 53.808c.209 2.003 1.188 3.806 2.758 5.075l14.904 12.033c.277.224.61.333.941.333.418 0 .833-.174 1.129-.512l25.489-29.094c1.327-1.515 1.983-3.454 1.848-5.462-.136-2.01-1.048-3.846-2.569-5.17-3.138-2.732-7.915-2.407-10.651.718l-16.867 19.254-4.719-3.812c-3.237-2.612-8-2.115-10.617 1.113-1.27 1.562-1.854 3.524-1.646 5.524zm3.975-3.631c.897-1.106 2.213-1.681 3.541-1.681 1.007 0 2.021.33 2.862 1.01l5.84 4.717c.628.506 1.54.427 2.07-.179l17.816-20.338h.001c1.651-1.887 4.532-2.079 6.424-.432.916.797 1.466 1.901 1.547 3.109.082 1.206-.312 2.372-1.11 3.283l-24.54 28.01-13.782-11.126c-.944-.764-1.534-1.849-1.659-3.054-.126-1.201.225-2.38.99-3.319z"></path></g></g></g></g></svg>

        </div>

    <div class="projectsCardContainer">
            <div class="cardFrames">
                <img src="img/proj1.jpg" alt="projeto 1" class="projPics">
                <small class="projSubText">UI EXPERIENCE (BOOTCAMP ROCKETSEAT)</small>
            </div>
            <div class="cardFrames">
                <img src="img/proj2.jpg" alt="projeto 2" class="projPics">
                <small class="projSubText">FLAPPY BIRD</small>
            </div>
            <div class="cardFrames">
                <img src="img/proj3.jpg" alt="projeto 3" class="projPics">
                <small class="projSubText">TIC-TAC-TOE (JOGO DA VELHA)</small>
            </div>
            <div class="cardFrames">
                <img src="img/proj4.jpg" alt="projeto 4" class="projPics">
                <small class="projSubText">CLONE WINDOWS CALCULATOR</small>
            </div>
            <div class="cardFrames">
                <img src="img/proj5.jpg" alt="projeto 5" class="projPics">
                <small class="projSubText">CRUD API REST</small>
            </div>
            <div class="cardFrames">
                <img src="img/proj6.jpg" alt="projeto 6" class="projPics">
                <small class="projSubText">CRUD API REST</small>
            </div>
    </div>

    </div>

</div>


<div class="contactContainer" id="contactC">
    
</div>