<div class="container">
    <div class="cardContainer">
        <div class="avatarContainer">
            <img class="avatar" src="/img/avatarMe.jpeg" alt="Leonardo Ferreira">
            <h2 class="avatarText">Leonardo Ferreira</h2>
        </div>



        <div class="textContainer">
            <img class="avatarMedal" src="img/medal.svg" alt="medalha">
            <h2 class="secondAvatarText">
                Student | Road to Full-stack Developer</h2>
        </div>
        <hr>
        <div class="listContainer">
            <ul>
                <li>
                   💡 20 ANOS;
                </li>
                <li>
                   💡 Procurando por qualificação/Looking for a Job;
                </li>
                <li>
                   💡 Programador JavaScript;
                </li>
                <li>
                   💡 Desenvolvedor WEB
                </li>
            </ul>
        </div>

        <div class="socialContainer">
            <a href="https://www.instagram.com/zinnlua/" target="_blank"> <img class="mediaIcons" src="img/instagram.svg" alt="Instagram"></a>
            <a href="https://www.facebook.com/ZinnLeo/" target="_blank"> <img class="mediaIcons" src="img/facebook.svg" alt="Facebook"></a>
            <a href="https://www.linkedin.com/in/leonardo-ferreira-253a60173/" target="_blank"> <img class="mediaIcons" src="img/linkedin.svg" alt="LinkedIn"></a></a>
            <a href="https://github.com/Leoff00" target="_blank"> <img class="mediaIcons" src="img/github.svg" alt="Github"> </a>
        </div>

    </div>

    <div class="aboutContainer" id="aboutC">
        
        <div class="aboutHeaderContainer">
            <h1 class="aboutHeaderText">
            SOBRE</h1>
        <img class="peopleIcon" src="img/people.svg" alt="Pessoa">        
        </div>
    <div>
    
    <div class="explainContainer">

    <p>
        Programador há 3 anos em busca de mais conhecimento e ingressar
        no mercado.
    </p>
        Teve ingresso na faculdade de Sistema de Informação em 2018 (6° Período),
        desde então busca grandes qualificações e referências do
        mercado para ser contratado e iniciar sua carreira.
    <p>
        Seu primeiro contato com programação foi em um curso de
        processamento de dados onde aprendeu sobre 
        lógica de programação e teve o primeiro contato apenas com
        <b> HTML e Delphi </b> fazendo programas simples em 2015.
    </p>
    
    <p>
        Já participou do <b> Hackathon BNDES 2020 </b> onde junto com uma 
        equipe desenvolveram um blog de notícias e aprendeu sobre 
        técnicas de desenvolvimento e padrão de projeto.
    </p>

    </div>

    {{!-- <b class="contactNumber">
        📞 👉 Número para contato: 997674932 - Whatsapp / Telegram.
    </b> --}}

    <b class="aboutSideText">NOVA IGUAÇU | RIO DE JANEIRO | BRASIL</b>

    </div>

    </div>
</div>

<div class="portfolioContainer" id="projectC">

    <div class="portfolioSecondPart">
        <div class="portfolioHeaderContainer">
            <h1 class="portfolioHeaderText">
            PORTFOLIO
            </h1>
            

        <img class="pcIcon" src="img/computer.svg" alt="computer">

        </div>

    <div class="projectsCardContainer">

            <div class="cardFrames">
                <img img="1" src="img/proj1.jpg" alt="projeto 1" class="projPics">
                <small class="projSubText">UI EXPERIENCE (BOOTCAMP ROCKETSEAT)</small>
            </div>
            <div class="cardFrames">
                <img img="2" src="img/proj2.jpg" alt="projeto 2" class="projPics">
                <small class="projSubText">FLAPPY BIRD REMAKE</small>
            </div>
            <div class="cardFrames">
                <img img="3" src="img/proj3.jpg" alt="projeto 3" class="projPics">
                <small class="projSubText">TIC-TAC-TOE (JOGO DA VELHA)</small>
            </div>
            <div class="cardFrames">
                <img img="4" src="img/proj4.jpg" alt="projeto 4" class="projPics">
                <small class="projSubText">CLONE WINDOWS CALCULATOR</small>
            </div>
            <div class="cardFrames">
                <img img="5" src="img/proj5.jpg" alt="projeto 5" class="projPics">
                <small class="projSubText">CRUD API REST TELA 1</small>
            </div>
            <div class="cardFrames">
                <img img="6" src="img/proj6.jpg" alt="projeto 6" class="projPics">
                <small class="projSubText">CRUD API REST TELA 2</small>
            </div>
    </div>

    </div>

</div>


</div>