footer {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.footerBox {
    background-color: #1c1c1c;
    border: 2px solid black;
    width: 70%;
    height: 55vh;
    margin: 20px 0px 5px 15px;
    border-radius: 20px;
    background-color: #e4e3e3d5;
    background-image:
    linear-gradient(360deg, rgba(2, 0, 36, 1) 0%, rgba(180, 228, 247, 0.59) 0%, rgba(255, 255, 255, 0.323) 30%);
    
    }

.footerHeaderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerHeaderText {
  width: 200px;
  margin-top: 2rem;
  font-family: "Open sans", Arial, sans-serif;
  font-size: 2rem;
  text-align: center;
  transition: 0.4s;
  box-shadow: 5px 5px 1.5px;
  border-radius: 10px;
}

.contactIcon {
    width: 4.2rem;
    height: 4.2rem;
    margin: 0 0 0 1rem;
  }


.footerText h2 {
    font-family: "Open sans", Arial, sans-serif;
    font-size: 1.2rem;
    text-align: center;
}


.footerText p {
    margin: 1.1rem;
    font-family: "Open sans", Arial, sans-serif;
    font-size: 1.1rem;
    text-align: center;
}

#whatsappLink {
    color: #000;
    transition: 0.5s;
}


#freepikLink {
    color: #000;
    transition: 0.5s;
}

.creditContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.space {
    height: 35px;
    width: 35px;
}