@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  margin: 0;
  background-color: #c3e7fa91;
}

.container {
  display: flex;
}

/* CARD CONTAINER */

.cardContainer {
  border: 1% solid black;
  width: 25%;
  height: 32rem;
  margin-top: 20px;
  margin-left: 15px;
  border-radius: 20px;
  background-color: #b5b5b5d5;
  background-image: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(135, 206, 235, 1) 0%,
    rgba(255, 255, 255, 1) 55%
  );
}

.avatarContainer {
  display: flex;
}

.avatar {
  flex-grow: 1;
  width: 40%;
  height: 8.5rem;
  border-radius: 100px;
  margin: 0.3rem;
}

.avatarText {
  width: 20rem;
  height: 1.5rem;
  flex-grow: 1;
  font-family: "Open sans", Arial, sans-serif;
  font-size: 1.1rem;
  margin-right: 0.7rem;
  margin-top: 3rem;
  margin-left: 0.5rem;
  padding: 0.2rem;
  border: 1px solid rgba(0, 0, 0, 0.487);
  border-radius: 5px;
  box-shadow: 5px 3px 1.5px;
  text-align: center;
  font-weight: 300;
  transition: 0.5s;
}

.textContainer {
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  margin: 5px;
  background-color: #add8e65f;
  width: 98%;
}

.avatarMedal {
  width: 15%;
  height: 40px;
  margin-top: 1px;
}

.secondAvatarText {
  font-family: "Open sans", Arial, sans-serif;
  font-size: 0.9rem;
  margin-top: 15px;
  margin-left: 2px;
  text-align: center;
}

.listContainer {
  background-color: #a3a3a3d5;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(135, 206, 235, 0.7525385154061625) 0%,
    rgba(255, 255, 255, 1) 100%,
    rgba(209, 236, 247, 1) 100%
  );
  width: 100%;
  margin: auto;
  border-radius: 2%;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  line-height: 25px;
}

li {
  font-size: 1rem;
  font-family: "Open sans", Arial, sans-serif;
  padding: 2.5px;
  color: #1c1c1c;
  font-weight: 400;
}

.socialContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.mediaIcons {
  margin: 0.5rem 0.8rem;
  width: 2.5rem;
  height: 4rem;
  border-radius: 5%;
}

/* CARD CONTAINER */

/* ABOUT CONTAINER */

.aboutContainer {
  border: 2px solid black;
  width: 70%;
  height: 30rem;
  margin-top: 20px;
  margin-left: 15px;
  border-radius: 20px;
  background-color: #c9c9c9d5;;
  background-image: linear-gradient(
    270deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(180, 228, 247, 0.59) 0%,
    rgba(255, 255, 255, 0.323) 30%
  );
}

.aboutHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutHeaderText {
  width: 150px;
  margin-top: 2rem;
  font-family: "Open sans", Arial, sans-serif;
  font-size: 2rem;
  text-align: center;
  transition: 0.4s;
  box-shadow: 5px 5px 1.5px;
  border-radius: 10px;
}

.peopleIcon {
  width: 4.5rem;
  height: 4.5rem;
  margin: -0.5rem 0 0 1rem;
}

.aboutName {
  font-family: "Open sans", Arial, sans-serif;
  font-size: 1.7rem;
  margin: 0.5rem;
}

.explainContainer {
  font-family: "Open sans", Arial, sans-serif;
  font-size: 1rem;
  margin: 2rem 1rem;
  font-weight: 400;
}

.contactNumber {
  font-family: "Open sans", Arial, sans-serif;
  font-size: 1.02rem;
  margin: 5rem 4.2rem 0 1.6rem;
  font-weight: 400;
}

.aboutSideText {
  font-family: "Open sans", Arial, sans-serif;
  font-size: 0.8rem;
  margin: 2rem;
}

/* ABOUT CONTAINER */

/* PROJECTS CONTAINER */

.portfolioContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* PORTFOLIO CONTAINER */

.portfolioFirstPart {
  /* blank space */
  border: 1% solid black;
  width: 0%;
  height: 0;
  margin-top: 20px;
  margin-left: 15px;
}

.portfolioSecondPart {
  background-color: #1c1c1c;
  border: 2px solid black;
  width: 70%;
  height: 115vh;
  margin: 20px 0px 5px 15px;
  border-radius: 20px;
  background-color: #c9c9c9d5;
  background-image: linear-gradient(
    360deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(180, 228, 247, 0.59) 0%,
    rgba(255, 255, 255, 0.323) 30%
  );
}

.portfolioHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pcIcon {
  width: 4.2rem;
  height: 4.2rem;
  margin: 0 0 0 1rem;
}

.portfolioHeaderText {
  width: 200px;
  margin-top: 2rem;
  font-family: "Open sans", Arial, sans-serif;
  font-size: 2rem;
  text-align: center;
  transition: 0.4s;
  box-shadow: 5px 5px 1.5px;
  border-radius: 10px;
}

.projectsCardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.cardFrames {
  flex-wrap: wrap;
  display: flex;
  width: 30%;
  height: 30vh;
  margin: 4rem 0.8rem;
  align-items: center;
  justify-content: center;
}

.projPics {
  position: relative;
  width: 100%;
  height: 80%;
  border-radius: 10px;
  transition: transform 0.2s;
}

.projPicsAmplied {
  display: inline;
  transition: transform 0.2s;
  transform: scale(2.3);
  z-index: 1;
}

.projSubText {
  font-family: "Open sans", Arial, sans-serif;
  font-size: 1.1rem;
  text-align: center;
  font-weight: bolder;
  margin: 1rem;
}

/* PORTFOLIO CONTAINER */
