@charset "UTF-8";

@media (min-width: 1001px) and (max-width: 1293px) {
  .svgIcon {
    margin: 0.5rem;
    padding: 0.5rem;
  }

  .headerText {
    font-size: 1rem;
  }

  .navLinks {
    font-size: 1.1rem;
  }

  .avatar {
    width: 45%;
  }

  .avatarText {
    font-size: 1rem;
    border: none;
    box-shadow: none;
  }

  .secondAvatarText {
    font-size: 1rem;
    text-align: center;
  }

  li {
    font-size: 1.1rem;
  }

  .mediaIcons {
    width: 3.5rem;
    height: 3rem;
    margin: 0.2rem 0.5rem;
  }

  .aboutContainer {
    width: 65%;
    height: 36rem;
  }

  .explainContainer {
    font-size: 1.23rem;
  }

  .portfolioSecondPart {
    width: 60%;
    height: 100rem;
  }

  .footerBox {
    width: 60%;
    height: 26rem;
  }

  #whatsappLink,
  #telegram,
  #email {
    font-size: 1.2rem;
  }

  #credits {
    font-size: 1.5rem;
  }

  #freepik {
    font-size: 1.5rem;
  }
}

@media (max-width: 1000px) {
  .svgIcon {
    padding: 0;
    margin: 0;
  }

  .separator {
    border: none;
  }

  .headerText {
    text-align: center;
    margin: 0;
    padding: 5px;
  }

  .navLinks {
    display: none;
  }

  .cardContainer {
    height: 32rem;
  }

  .avatar {
    width: 6rem;
    height: 6rem;
  }

  .avatarText {
    font-size: 1.1rem;
    padding: 0;
    margin: 2.25rem 0rem;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .textContainer {
    margin: 2px;
  }

  .avatarMedal {
    margin: 0.6rem 0 0 0.9rem;
    padding: 0;
  }

  .secondAvatarText {
    font-size: 0.8rem;
  }

  li {
    font-size: 0.95rem;
    padding: 1px;
    margin: 1px;
  }

  .mediaIcons {
    width: 2rem;
    height: 2.5rem;
    margin: 0.2rem 0.5rem;
  }

  .aboutContainer {
    width: 65%;
    height: 50rem;
  }

  .explainContainer {
    font-size: 1.3rem;
  }

  .portfolioSecondPart {
    height: 250rem;
  }

  .cardFrames {
    max-width: 80%;
    min-width: 65%;
    flex-wrap: wrap;
  }

  .projSubText {
    font-size: 1.3rem;
  }

  .footerBox {
    height: 25rem;
  }

  #whatsappLink,
  #telegram,
  #email {
    font-size: 1.3rem;
  }

  #credits {
    font-size: 1.1rem;
    margin: 2px;
  }

  #freepik {
    font-size: 1.1rem;
    margin: 2px;
  }
}

@media (max-width: 600px) {
  .svgIcon {
    padding: 0.5rem;
    margin: 0.5rem;
  }

  .separator {
    border: none;
  }

  .headerText {
    text-align: center;
    margin: 0;
    padding: 0.1rem;
    font-size: 0.8rem;
  }

  .navLinks {
    display: none;
  }

  .container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .cardContainer {
    width: 80%;
    height: 35rem;
  }

  .avatar {
    width: 8rem;
    height: 8rem;
  }

  .avatarText {
    font-size: 1rem;
    padding: 0;
    margin: 3.5rem 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .textContainer {
    margin: 2px;
  }

  .avatarMedal {
    margin: 0.1rem 0 0 0.9rem;
    padding: 0;
  }

  .secondAvatarText {
    font-size: 1rem;
  }

  li {
    font-size: 1.07rem;
    padding: 1px;
    margin: 1px;
  }

  .mediaIcons {
    width: 3.5rem;
    height: 2.5rem;
    margin: 1rem 0.2rem;
  }

  .aboutContainer {
    height: 70rem;
    width: 70%;
  }

  .explainContainer {
    font-size: 1.1rem;
  }

  .aboutSideText {
    font-size: 0.5rem;
  }

  .portfolioContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .portfolioSecondPart {
    width: 80%;
    height: 215rem;
  }

  .cardFrames {
    max-width: 80%;
    min-width: 65%;
    flex-wrap: wrap;
  }

  .projSubText {
    font-size: 0.8rem;
  }

  .footerBox {
    width: 80%;
    height: 40rem;
  }

  #whatsappLink,
  #email,
  #telegram {
    font-size: 1rem;
  }

  #credits {
    font-size: 0.9rem;
  }

  #freepik {
    font-size: 0.9rem;
  }
}

/* 
@media (max-width: 475px) {

  .svgIcon {
    padding: 0;
    margin: 0;
  }

  .separator {
    border: none;
  }

  .headerText {
    text-align: center;
    margin: 0;
    padding: 5px;
  }

  .navLinks {
    display: none;
  }

  .container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .cardContainer {
    width: 80%;
    height: 28rem;
  }

  .avatar {
    min-width: 20%;
    max-width: 28%;
    height: 7rem;
  }

  .avatarText {
    font-size: 0.8rem;
    padding: 0;
  }

  .textContainer {
    margin: 2px;
  }

  .avatarMedal {
    margin: 0.1rem 0 0 0.9rem;
    padding: 0;
  }

  .secondAvatarText {
    font-size: 0.7rem;
  }

  li {
    font-size: 0.7rem;
    padding: 1px;
    margin: 1px;
  }

  .mediaIcons {
    width: 3.5rem;
    height: 3rem;
    margin: 2rem 0.5rem;
  }

  .aboutContainer {
    height: 160vh;
    width: 75%;

  }

  .explainContainer {
    font-size: 1.2rem;
  }

  .aboutSideText {
    font-size: 0.75rem;
  }

  .portfolioContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .portfolioSecondPart {
    width: 80%;
    height: 300vh;
  }

  .cardFrames {
    max-width: 75%;
    min-width: 65%;
    flex-wrap: wrap;
  }

  .projSubText {
    font-size: 0.8rem;
  }

  .footerBox {
    width: 75%;
    height: 60vh;
  }

  #credits {
    font-size: 1.08rem;
    margin: 2px;
  }

  #freepik {
    font-size: 1.08rem;
    margin: 2px
  }
}



@media (min-width: 413px) and (max-width: 474px)  {

  .svgIcon {
    padding: 0;
    margin-left: 30px;
  }

  .separator {
    border: none;
  }

  .headerText {
    text-align: center;
    margin: 0;
    padding: 5px;
  }

  .navLinks {
    display: none;
  }

  .container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .cardContainer {
    width: 80%;
    height: 32rem;
  }

  .avatar {
    min-width: 40%;
    max-width: 50%;
    height: 7rem;
  }

  .avatarText {
    font-size: 0.8rem;
    padding: 0;
  }

  .textContainer {
    margin: 2px;
  }

  .avatarMedal {
    margin: 0.5rem 0 0 0.9rem;
    padding: 0;
  }

  .secondAvatarText {
    font-size: 0.7rem;
  }

  li {
    font-size: 1rem;
    padding: 1px;
    margin: 1px;
  }

  .mediaIcons {
    width: 3rem;
    height: 2.8rem;
    margin: 2rem 0.5rem;
  }

  .aboutContainer {
    height: 60rem;
    width: 75%;

  }

  .explainContainer {
    font-size: 1.2rem;
  }

  .aboutSideText {
    font-size: 0.70rem;
  }

  .portfolioContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .portfolioSecondPart {
    width: 80%;
    height: 300vh;
  }

  .cardFrames {
    max-width: 75%;
    min-width: 65%;
    flex-wrap: wrap;
  }

  .projSubText {
    font-size: 1.3rem;
  }

  .footerBox {
    width: 75%;
    height: 65vh;
  }

  #email {
    font-size: 1.2rem;
  }

  #credits {
    font-size: 1.08rem;
    margin: 2px;
  }

  #freepik {
    font-size: 1.08rem;
    margin: 2px
  }
}



@media (min-width: 320px) and (max-width: 413px)  {

  .svgIcon {
    padding: 0;
    margin-left: 30px;
  }

  .separator {
    border: none;
  }

  .headerText {
    text-align: center;
    margin: 0;
    padding: 5px;
  }

  .navLinks {
    display: none;
  }

  .container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .cardContainer {
    width: 80%;
    height: 32rem;
  }

  .avatar {
    min-width: 40%;
    max-width: 50%;
    height: 7rem;
  }

  .avatarText {
    font-size: 0.8rem;
    padding: 0;
  }

  .textContainer {
    margin: 2px;
  }

  .avatarMedal {
    margin: 0.5rem 0 0 0.9rem;
    padding: 0;
  }

  .secondAvatarText {
    font-size: 0.7rem;
  }

  li {
    font-size: 1rem;
    padding: 1px;
    margin: 1px;
  }

  .mediaIcons {
    width: 3rem;
    height: 2.8rem;
    margin: 2rem 0.5rem;
  }

  .aboutContainer {
    height: 170vh;
    width: 75%;

  }

  .explainContainer {
    font-size: 1.2rem;
  }

  .aboutSideText {
    font-size: 0.56rem;
  }

  .portfolioContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .portfolioSecondPart {
    width: 80%;
    height: 327vh;
  }

  .cardFrames {
    max-width: 75%;
    min-width: 65%;
    flex-wrap: wrap;
  }

  .projSubText {
    font-size: 1rem;
  }

  .footerBox {
    width: 75%;
    height: 100vh;
  }

  #email {
    font-size: 0.9rem;
  }

  #credits {
    font-size: 1.08rem;
    margin: 2px;
  }

  #freepik {
    font-size: 1.08rem;
    margin: 2px
  }
}


@media (min-width: 280px) and (max-width: 319px)  {

  .svgIcon {
    padding: 0;
    margin-left: 30px;
  }

  .separator {
    border: none;
  }

  .headerText {
    text-align: center;
    margin: 0;
    padding: 0px;
  }

  .navLinks {
    display: none;
  }

  .container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .cardContainer {
    width: 80%;
    height: 32rem;
  }

  .avatar {
    min-width: 40%;
    max-width: 50%;
    height: 7rem;
  }

  .avatarText {
    font-size: 0.70rem;
    padding: 0;
  }

  .textContainer {
    margin: 2px;
  }

  .avatarMedal {
    margin: 0.5rem 0 0 0.9rem;
    padding: 0;
  }

  .secondAvatarText {
    font-size: 0.7rem;
  }

  li {
    font-size: 1rem;
    padding: 1px;
    margin: 1px;
  }

  .mediaIcons {
    width: 2.3rem;
    height: 2.8rem;
    margin: 2rem 0.5rem;
  }

  .aboutContainer {
    height: 220vh;
    width: 75%;

  }

  .explainContainer {
    font-size: 1.2rem;
  }

  .aboutSideText {
    font-size: 0.45rem;
  }

  .portfolioContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .portfolioHeaderText {
    font-size: 1.5rem;
  }

  .pcIcon {
    width: 25%;
  }

  .portfolioSecondPart {
    width: 80%;
    height: 327vh;
  }

  .cardFrames {
    max-width: 75%;
    min-width: 65%;
    flex-wrap: wrap;
  }

  .projSubText {
    font-size: 1rem;
  }

  .footerBox {
    width: 75%;
    height: 100vh;
  }

  .footerHeaderText {
    font-size: 1.5rem;
  }

  .contactIcon {
    width: 25%;
  }

  #email {
    font-size: 0.77rem;
  }

  #credits {
    font-size: 1.08rem;
    margin: 2px;
  }

  #freepik {
    font-size: 1.08rem;
    margin: 2px
  }
} */
