@charset "UTF-8";

/* HIGHER RESOLUTION */

@media (min-width: 1294px) {
  html {
    font-size: 95%;
  }

  .portfolioSecondPart {
    width: 60%;
    height: 115vh;
  }

  .footerBox {
    width: 60%;
    height: 55vh;
  }

  #credits {
    font-size: 0.9rem;
  }

  #freepik {
    font-size: 0.9rem;
  }
}

/* HIGHER RESOLUTION */


/* FIRST RESOLUTION */

@media (min-width: 1080px) and (max-width: 1293px) {
  .svgIcon {
    width: 40px;
    height: 40px;
  }

  .headerText {
    font-size: 1rem;
  }

  .navLinks {
    font-size: 1.1rem;
  }

  .avatar {
    width: 45%;
  }

  .avatarText {
    font-size: 1rem;
    border: none;
    box-shadow: none;
  }

  .secondAvatarText {
    font-size: 1rem;
    text-align: center;
  }

  li {
    font-size: 1.1rem;
  }
  
  .mediaIcons {
    width: 3.5rem;
    height: 3rem;
    margin: 0.2rem 0.5rem;
  }

  .aboutContainer {
    width: 65%;
    height: 75vh;
  }

  .explainContainer {
    font-size: 1.23rem;
  }

  .portfolioSecondPart {
    width: 60%;
    height: 165vh;
  }

  .footerBox {
    width: 60%;
    height: 60vh;
  }

  #whatsappLink {
    font-size: 1.65rem;
  }

  #telegram {
    font-size: 1.65rem;
  }

  #email {
    font-size: 1.5rem;
  }

  #credits {
    font-size: 1.5rem;
  }

  #freepik {
    font-size: 1.5rem;
  }
}

/* FIRST RESOLUTION */


/* SECOND RESOLUTION */

@media (min-width: 720px) and (max-width: 1080px) {

  .svgIcon {
    padding: 0;
    margin: 0;
  }

  .separator {
    border: none;
  }

  .headerText {
    text-align: center;
    margin: 0;
    padding: 5px;
  }

  .navLinks {
    display: none;
  }

  .cardContainer {
    height: 32rem;
  }

  .avatar {
    width: 40%;
    height: 5.5rem;
  }

  .avatarText {
    font-size: 0.7rem;
    padding: 0;
  }

  .textContainer {
    margin: 2px;
  }

  .avatarMedal {
    margin: 0.6rem 0 0 0.9rem;
    padding: 0;
  }

  .secondAvatarText {
    font-size: 0.8rem;
  }

  li {
    font-size: 0.95rem;
    padding: 1px;
    margin: 1px;
  }

  .mediaIcons {
    width: 2rem;
    height: 2.5rem;
    margin: 0.2rem 0.5rem;
  }

  .aboutContainer {
    width: 65%;
    height: 65vh;
  }

  .explainContainer {
    font-size: 1.23rem;
  }

  .portfolioSecondPart {
    height: 260vh;
  }

  .cardFrames {
    max-width: 80%;
    min-width: 65%;
    flex-wrap: wrap;
  }

  .projSubText {
    font-size: 1.5rem;
  }

  .footerBox {
    height: 40vh;
  }

  #whatsappLink {
    font-size: 1.65rem;
  }

  #telegram {
    font-size: 1.65rem;
  }

  #email {
    font-size: 1.5rem;
  }

  #credits {
    font-size: 1.2rem;
    margin: 2px;
  }

  #freepik {
    font-size: 1.2rem;
    margin: 2px
  }
}

/* SECOND RESOLUTION */


/* THIRD RESOLUTION */

@media (min-width: 476px) and (max-width: 719px) {
  .svgIcon {
    padding: 0;
    margin: 0;
  }

  .separator {
    border: none;
  }

  .headerText {
    text-align: center;
    margin: 0;
    padding: 5px;
  }

  .navLinks {
    display: none;
  }

  .container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .cardContainer {
    width: 80%;
    height: 28rem;
  }

  .avatar {
    min-width: 20%;
    max-width: 28%;
    height: 7rem;
  }

  .avatarText {
    font-size: 1rem;
    padding: 0;
  }

  .textContainer {
    margin: 2px;
  }

  .avatarMedal {
    margin: 0.1rem 0 0 0.9rem;
    padding: 0;
  }

  .secondAvatarText {
    font-size: 1rem;
  }

  li {
    font-size: 1.07rem;
    padding: 1px;
    margin: 1px;
  }

  .mediaIcons {
    width: 5rem;
    height: 3rem;
    margin: 2rem 0.5rem;
  }

  .aboutContainer {
    height: 100vh;
    width: 70%;

  }

  .explainContainer {
    font-size: 1.1rem;
  }

  .portfolioContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .portfolioSecondPart {
    width: 80%;
    height: 300vh;
  }

  .cardFrames {
    max-width: 80%;
    min-width: 65%;
    flex-wrap: wrap;
  }

  .projSubText {
    font-size: 0.8rem;
  }

  .footerBox {
    width: 75%;
    height: 60vh;
  }

  #credits {
    font-size: 1rem;
  }

  #freepik {
    font-size: 1rem;
  }
}

/* THIRD RESOLUTION */


/* LOWER RESOLUTION */

@media (max-width: 475px) {

  .svgIcon {
    padding: 0;
    margin: 0;
  }

  .separator {
    border: none;
  }

  .headerText {
    text-align: center;
    margin: 0;
    padding: 5px;
  }

  .navLinks {
    display: none;
  }

  .container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .cardContainer {
    width: 80%;
    height: 28rem;
  }

  .avatar {
    min-width: 20%;
    max-width: 28%;
    height: 7rem;
  }

  .avatarText {
    font-size: 0.8rem;
    padding: 0;
  }

  .textContainer {
    margin: 2px;
  }

  .avatarMedal {
    margin: 0.1rem 0 0 0.9rem;
    padding: 0;
  }

  .secondAvatarText {
    font-size: 0.7rem;
  }

  li {
    font-size: 0.7rem;
    padding: 1px;
    margin: 1px;
  }

  .mediaIcons {
    width: 3.5rem;
    height: 3rem;
    margin: 2rem 0.5rem;
  }

  .aboutContainer {
    height: 160vh;
    width: 75%;

  }

  .explainContainer {
    font-size: 1.2rem;
  }

  .aboutSideText {
    font-size: 0.75rem;
  }

  .portfolioContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .portfolioSecondPart {
    width: 80%;
    height: 300vh;
  }

  .cardFrames {
    max-width: 75%;
    min-width: 65%;
    flex-wrap: wrap;
  }

  .projSubText {
    font-size: 0.8rem;
  }

  .footerBox {
    width: 75%;
    height: 60vh;
  }

  #credits {
    font-size: 1.08rem;
    margin: 2px;
  }

  #freepik {
    font-size: 1.08rem;
    margin: 2px
  }
}



@media (min-width: 413px) and (max-width: 474px)  {

  .svgIcon {
    padding: 0;
    margin-left: 30px;
  }

  .separator {
    border: none;
  }

  .headerText {
    text-align: center;
    margin: 0;
    padding: 5px;
  }

  .navLinks {
    display: none;
  }

  .container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .cardContainer {
    width: 80%;
    height: 32rem;
  }

  .avatar {
    min-width: 40%;
    max-width: 50%;
    height: 7rem;
  }

  .avatarText {
    font-size: 0.8rem;
    padding: 0;
  }

  .textContainer {
    margin: 2px;
  }

  .avatarMedal {
    margin: 0.5rem 0 0 0.9rem;
    padding: 0;
  }

  .secondAvatarText {
    font-size: 0.7rem;
  }

  li {
    font-size: 1rem;
    padding: 1px;
    margin: 1px;
  }

  .mediaIcons {
    width: 3rem;
    height: 2.8rem;
    margin: 2rem 0.5rem;
  }

  .aboutContainer {
    height: 135vh;
    width: 75%;

  }

  .explainContainer {
    font-size: 1.2rem;
  }

  .aboutSideText {
    font-size: 0.70rem;
  }

  .portfolioContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .portfolioSecondPart {
    width: 80%;
    height: 300vh;
  }

  .cardFrames {
    max-width: 75%;
    min-width: 65%;
    flex-wrap: wrap;
  }

  .projSubText {
    font-size: 1.3rem;
  }

  .footerBox {
    width: 75%;
    height: 65vh;
  }

  #email {
    font-size: 1.2rem;
  }

  #credits {
    font-size: 1.08rem;
    margin: 2px;
  }

  #freepik {
    font-size: 1.08rem;
    margin: 2px
  }
}



@media (min-width: 320px) and (max-width: 413px)  {

  .svgIcon {
    padding: 0;
    margin-left: 30px;
  }

  .separator {
    border: none;
  }

  .headerText {
    text-align: center;
    margin: 0;
    padding: 5px;
  }

  .navLinks {
    display: none;
  }

  .container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .cardContainer {
    width: 80%;
    height: 32rem;
  }

  .avatar {
    min-width: 40%;
    max-width: 50%;
    height: 7rem;
  }

  .avatarText {
    font-size: 0.8rem;
    padding: 0;
  }

  .textContainer {
    margin: 2px;
  }

  .avatarMedal {
    margin: 0.5rem 0 0 0.9rem;
    padding: 0;
  }

  .secondAvatarText {
    font-size: 0.7rem;
  }

  li {
    font-size: 1rem;
    padding: 1px;
    margin: 1px;
  }

  .mediaIcons {
    width: 3rem;
    height: 2.8rem;
    margin: 2rem 0.5rem;
  }

  .aboutContainer {
    height: 170vh;
    width: 75%;

  }

  .explainContainer {
    font-size: 1.2rem;
  }

  .aboutSideText {
    font-size: 0.56rem;
  }

  .portfolioContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .portfolioSecondPart {
    width: 80%;
    height: 327vh;
  }

  .cardFrames {
    max-width: 75%;
    min-width: 65%;
    flex-wrap: wrap;
  }

  .projSubText {
    font-size: 1rem;
  }

  .footerBox {
    width: 75%;
    height: 100vh;
  }

  #email {
    font-size: 0.9rem;
  }

  #credits {
    font-size: 1.08rem;
    margin: 2px;
  }

  #freepik {
    font-size: 1.08rem;
    margin: 2px
  }
}


@media (min-width: 280px) and (max-width: 319px)  {

  .svgIcon {
    padding: 0;
    margin-left: 30px;
  }

  .separator {
    border: none;
  }

  .headerText {
    text-align: center;
    margin: 0;
    padding: 0px;
  }

  .navLinks {
    display: none;
  }

  .container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .cardContainer {
    width: 80%;
    height: 32rem;
  }

  .avatar {
    min-width: 40%;
    max-width: 50%;
    height: 7rem;
  }

  .avatarText {
    font-size: 0.70rem;
    padding: 0;
  }

  .textContainer {
    margin: 2px;
  }

  .avatarMedal {
    margin: 0.5rem 0 0 0.9rem;
    padding: 0;
  }

  .secondAvatarText {
    font-size: 0.7rem;
  }

  li {
    font-size: 1rem;
    padding: 1px;
    margin: 1px;
  }

  .mediaIcons {
    width: 2.3rem;
    height: 2.8rem;
    margin: 2rem 0.5rem;
  }

  .aboutContainer {
    height: 220vh;
    width: 75%;

  }

  .explainContainer {
    font-size: 1.2rem;
  }

  .aboutSideText {
    font-size: 0.45rem;
  }

  .portfolioContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .portfolioHeaderText {
    font-size: 1.5rem;
  }

  .pcIcon {
    width: 25%;
  }

  .portfolioSecondPart {
    width: 80%;
    height: 327vh;
  }

  .cardFrames {
    max-width: 75%;
    min-width: 65%;
    flex-wrap: wrap;
  }

  .projSubText {
    font-size: 1rem;
  }

  .footerBox {
    width: 75%;
    height: 100vh;
  }

  .footerHeaderText {
    font-size: 1.5rem;
  }

  .contactIcon {
    width: 25%;
  }

  #email {
    font-size: 0.77rem;
  }

  #credits {
    font-size: 1.08rem;
    margin: 2px;
  }

  #freepik {
    font-size: 1.08rem;
    margin: 2px
  }
}


/* LOWER RESOLUTION */